name: Bump Helm appVersion after Release

on:
  workflow_call:

jobs:
  bump-helm-app-version:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Set up Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
  
      - name: Switch to master branch
        run: |
          git checkout master
          git pull origin master

      - name: Create branch for chart update
        run: |
          BRANCH_NAME="bump-chart-${{ github.ref_name }}"
          git checkout -b ${BRANCH_NAME}

      - name: Get current chart version and bump patch
        id: bump_chart_version
        run: |
          CURRENT_VERSION=$(grep '^version:' charts/vault-autounseal-operator/Chart.yaml | awk '{print $2}')
          MAJOR=$(echo $CURRENT_VERSION | cut -d. -f1)
          MINOR=$(echo $CURRENT_VERSION | cut -d. -f2)
          PATCH=$(echo $CURRENT_VERSION | cut -d. -f3)
          NEW_PATCH=$((PATCH + 1))
          NEW_VERSION="${MAJOR}.${MINOR}.${NEW_PATCH}"
          echo "Bumping chart version from ${CURRENT_VERSION} to ${NEW_VERSION}"

          sed -i "s/^version: .*/version: ${NEW_VERSION}/" charts/vault-autounseal-operator/Chart.yaml


      - name: Update appVersion and version in Chart.yaml
        run: |
          sed -i "s/^appVersion: .*/appVersion: \"${{ github.ref_name }}\"/" charts/vault-autounseal-operator/Chart.yaml

      - name: Commit and push changes
        run: |
          git add charts/vault-autounseal-operator/Chart.yaml
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            BRANCH_NAME="bump-chart-${{ github.ref_name }}"
            git commit -m "chore: bump chart version [skip ci]"
            git push origin ${BRANCH_NAME}
          fi

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: bump-chart-${{ github.ref_name }}
          title: "chore: bump chart version for ${{ github.ref_name }}"
          body: |
            Automated chart version bump after release ${{ github.ref_name }}
            
            - Updated chart version
            - Updated appVersion to ${{ github.ref_name }}
          base: master
          delete-branch: true
          assignees: ${{ github.repository_owner }}
