name: Bump Helm appVersion after Release

on:
  release:
    types: [created]

jobs:
  bump-helm-app-version:
    if: github.event.release.prerelease == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Set up Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
  
      - name: Switch to master branch
        run: |
          git checkout master
          git pull origin master

      - name: Get current chart version and bump patch
        id: bump_chart_version
        run: |
          CURRENT_VERSION=$(grep '^version:' charts/vault-autounseal-operator/Chart.yaml | awk '{print $2}')
          MAJOR=$(echo $CURRENT_VERSION | cut -d. -f1)
          MINOR=$(echo $CURRENT_VERSION | cut -d. -f2)
          PATCH=$(echo $CURRENT_VERSION | cut -d. -f3)
          NEW_PATCH=$((PATCH + 1))
          NEW_VERSION="${MAJOR}.${MINOR}.${NEW_PATCH}"
          echo "Bumping chart version from ${CURRENT_VERSION} to ${NEW_VERSION}"

          sed -i "s/^version: .*/version: ${NEW_VERSION}/" charts/vault-autounseal-operator/Chart.yaml


      - name: Update appVersion and version in Chart.yaml
        run: |
          sed -i "s/^appVersion: .*/appVersion: \"${{ github.ref_name }}\"/" charts/vault-autounseal-operator/Chart.yaml

      - name: Commit and push changes
        run: |
          git add charts/vault-autounseal-operator/Chart.yaml
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "chore: bump chart version [skip ci]"
            git push origin master
          fi
