on:
  push:
    paths-ignore:
      - 'charts/**'
      - 'manifests/**'
      - 'docs/**'
      - '/*.md'
      - 'tests.rest'
    branches:
      - '*'
  pull_request:
    paths-ignore:
      - 'manifests/**'
      - 'charts/**'
      - 'docs/**'
      - '/*.md'
      - 'tests.rest'
  workflow_call:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

name: Build and test
jobs:
  test:
    uses: ./.github/workflows/test.yml
  trivy-scan:
    uses: ./.github/workflows/trivy.yml
  vet:
    uses: ./.github/workflows/vet.yml
  test-and-release-snapshot:
    needs:
      - trivy-scan
      - test
      - vet
    permissions:
      contents: read
      packages: write    
    runs-on: ubuntu-latest
    outputs:
      docker_images: ${{ steps.docker_images.outputs.docker_images }}
    steps:
      - name: Disk space
        run: df -h /
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-tags: true
          fetch-depth: 0
      - name: Disk space
        run: df -h /
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: './go.mod'
          cache: false #true
        id: go

      - name: Disk space
        run: df -h /
        # Workaround: https://github.com/docker/build-push-action/issues/461
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Set SNAPSHOT_VERSION
        run: |
          echo "SNAPSHOT_VERSION=`echo ${{ github.ref_name }} | tr '/' '-'`" >> $GITHUB_ENV  

      - name: Disk space
        run: df -h /

      - name: Build
        run: |
          PLATFORMS="linux/amd64 linux/arm64 darwin/amd64 darwin/arm64"
            for PLATFORM in $PLATFORMS; do
              OS=$(echo $PLATFORM | cut -d'/' -f1)
              ARCH=$(echo $PLATFORM | cut -d'/' -f2)
              GOOS=$OS GOARCH=$ARCH go build -ldflags="-s -w" -o ./bin/vault-autounseal-operator-${GOOS}-${GOARCH} ./cmd/vault-autounseal-operator
            done
      # - name: Run GoReleaser  
      #   uses: goreleaser/goreleaser-action@v6
      #   id: gorleaser
      #   with:
      #     version: "~> v2"
      #     distribution: goreleaser
      #     args: release --clean --snapshot --verbose
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      # - name: set docker_images
      #   id: docker_images
      #   run: |
      #     set -eux
      #     cat dist/artifacts.json
      #     DOCKER_IMAGES=`jq -r -c '[.[] | select(.type=="Docker Image") | .name]' dist/artifacts.json`
      #     echo "docker_images=$DOCKER_IMAGES" >> "$GITHUB_OUTPUT"

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # - name: Push images to registry
      #   run: |
      #     for image in `echo '${{ steps.docker_images.outputs.docker_images }}' | jq -r '.[]'`; do
      #       docker push "$image"
      #     done

      - name: Set docker metadata
        uses: docker/metadata-action@v5
        id: docker_metadata
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}


      - name: Build and push images to registry
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.docker_metadata.outputs.tags }}
          architectures: linux/amd64,linux/arm64

  scan:
    name: "scan images with trivy"
    needs:
      - test-and-release-snapshot
    runs-on: ubuntu-latest
    strategy:
      matrix:
        docker_image: ${{ fromJSON(needs.test-and-release-snapshot.outputs.docker_images ) }}
    steps:
      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Trivy vulnerability scanner in repo mode - non schedule & non master
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ matrix.docker_image }}
          scan-type: 'image'
          ignore-unfixed: true # we want to have full report
          severity: 'CRITICAL,HIGH' #report all severities
          exit-code: '1'
          format: 'table'

  chainsaw-e2e-snapshot:
    uses: ./.github/workflows/chainsaw-test.yaml
    needs: #TODO ucomment
      - test-and-release-snapshot
    strategy:
      matrix:
        IMAGE_TAG: ${{ fromJSON(needs.test-and-release-snapshot.outputs.docker_images ) }}
  