on:
  push:
    paths-ignore:
      - 'charts/**'
      - 'manifests/**'
      - 'docs/**'
      - '/*.md'
      - 'tests.rest'
    branches:
      - '*'
  pull_request:
    paths-ignore:
      - 'manifests/**'
      - 'charts/**'
      - 'docs/**'
      - '/*.md'
      - 'tests.rest'
  workflow_call:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

name: Build and test
jobs:
  test:
    uses: ./.github/workflows/test.yml
  trivy-scan:
    uses: ./.github/workflows/trivy.yml
  vet:
    uses: ./.github/workflows/vet.yml
  build:
    runs-on: ${{ matrix.os }}
    needs:
      - trivy-scan
      - test
      - vet
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04-arm #ubuntu-latest
            goos: linux
            goarch: amd64
          - os: ubuntu-24.04-arm
            goos: linux
            goarch: arm64
          - os: ubuntu-24.04-arm #macos-15-intel
            goos: darwin
            goarch: amd64
          - os: ubuntu-24.04-arm #macos-latest
            goos: darwin
            goarch: arm64
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: './go.mod'
          cache: false #true
      - name: go mod download
        run: go mod download

      - name: Build binary
        run: |
          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -o bin/vault-autounseal-operator-${{ matrix.goos }}-${{ matrix.goarch }} ./cmd/vault-autounseal-operator
      - name: Generate SHA256 checksum
        run: |
          shasum -a 256 bin/vault-autounseal-operator-${{ matrix.goos }}-${{ matrix.goarch }} > bin/vault-autounseal-operator-${{ matrix.goos }}-${{ matrix.goarch }}.sha256

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: vault-autounseal-operator-${{ matrix.goos }}-${{ matrix.goarch }}
          path: |
            bin/vault-autounseal-operator-${{ matrix.goos }}-${{ matrix.goarch }}
            bin/vault-autounseal-operator-${{ matrix.goos }}-${{ matrix.goarch }}.sha256
  docker-build:
    needs:
      - build
    permissions:
      contents: read
      packages: write
    outputs:
      image_digest: ${{ steps.build-and-push-image.outputs.digest }}
    runs-on: ubuntu-24.04-arm #ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Download built binaries
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts

        # Workaround: https://github.com/docker/build-push-action/issues/461
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3
      
      # - name: set docker_images
      #   id: docker_images
      #   run: |
      #     set -eux
      #     cat dist/artifacts.json
      #     DOCKER_IMAGES=`jq -r -c '[.[] | select(.type=="Docker Image") | .name]' dist/artifacts.json`
      #     echo "docker_images=$DOCKER_IMAGES" >> "$GITHUB_OUTPUT"

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # - name: Push images to registry
      #   run: |
      #     for image in `echo '${{ steps.docker_images.outputs.docker_images }}' | jq -r '.[]'`; do
      #       docker push "$image"
      #     done

      - name: Set docker metadata
        uses: docker/metadata-action@v5
        id: docker_metadata
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}


      - name: Build and push images to registry
        id: build-and-push-image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          file: ./Dockerfile.prebuilt
          tags: ${{ steps.docker_metadata.outputs.tags }}
          platforms: linux/amd64,linux/arm64
          # cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:buildcache
          # cache-to: type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:buildcache,mode=max

  scan:
    name: "scan images with trivy"
    needs:
      - docker-build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        docker_image: ${{ fromJSON(needs.test-and-release-snapshot.outputs.docker_images ) }}
    steps:
      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Trivy vulnerability scanner in repo mode - non schedule & non master
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}${{ needs.docker-build.outputs.image_digest }}
          scan-type: 'image'
          ignore-unfixed: true # we want to have full report
          severity: 'CRITICAL,HIGH' #report all severities
          exit-code: '1'
          format: 'table'

  chainsaw-e2e-snapshot:
    uses: ./.github/workflows/chainsaw-test.yaml
    needs: 
      - docker-build
    strategy:
      matrix:
        IMAGE_TAG: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@${{ needs.docker-build.outputs.image_digest }}
  