on:
  workflow_call:

name: Vet
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: './go.mod'
          cache: true
        id: go

      - name: Vet
        run: |

          go generate ./...
          go vet ./...
